<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Repo Browser</name>
<version>102</version>
<type>user</type>
<defaultcat>Administrator</defaultcat>
<desc>Repo Browser allows you to install, remove and update your Sentora modules from user repositories.</desc>
<authorname>RusTus, TGates</authorname>
<authoremail>rustus@zpanelcp.com</authoremail>
<authorurl>http://www.sentora.org/</authorurl>
<updateurl>http://zppy-repo.mach-hosting.com/repo/repo_browser.xml</updateurl>
</module>